$black: #171717;
$accent: #f38d8d;
$grey-Blue: #68b0c1;
$dusk-Blue: #227284;
$light-Grey-Blue: #b9dde7;
$white-shade: #f6f6f6;

@mixin primaryFont($size) {
    font-family: 'Oswald', sans-serif;
    color: $black;
    font-weight: bold;
    font-size: $size * 1px;
    font-size: ($size/10) * 1rem;
    text-transform: uppercase;
}

@mixin secondaryFont($size) {
    font-family: 'Cabin', sans-serif;
    color: $black;
    font-size: $size * 1px;
    font-size: ($size/10) * 1rem;
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

.font1 {
    @include primaryFont(80);
    line-height: 92px;

    &--main {
        @include primaryFont(120);
        position: relative;

        &::after {
            content: "";
            display: inline-block;
            background: url("../img/Circle-text-cropped.png") no-repeat;
            background-size: contain;
            position: absolute;
            width: 150px;
            height: 150px;
            top: -75px;
            right: -75px;
            transform: rotate(-30deg);
        }
    }
}

.font2 {
    @include primaryFont(42);
    margin-bottom: 20px;
    &--nav {
        @extend .font2;
        margin:0;
    }
}

.font3 {
    @include primaryFont(32);
    margin-bottom: 20px;
}



