$black: #171717;
$accent: #f38d8d;
$grey-Blue: #68b0c1;
$dusk-Blue: #227284;
$light-Grey-Blue: #b9dde7;
$white-shade: #f6f6f6;

@mixin primaryFont($size) {
    font-family: 'Oswald', sans-serif;
    color: $black;
    font-weight: bold;
    font-size: $size * 1px;
    font-size: ($size/10) * 1rem;
    text-transform: uppercase;
}

@mixin secondaryFont($size) {
    font-family: 'Cabin', sans-serif;
    color: $black;
    font-size: $size * 1px;
    font-size: ($size/10) * 1rem;
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1280px;
    width: 70%;
    margin: 0 auto;
}

.header1 {
    @include primaryFont(80);
    line-height: 92px;
    &--main {
        @extend .header1;
        position: relative;   
        background: $light-Grey-Blue;

        &::after {
            content: "";
            display: inline-block;
            background: url("../img/Circle-text.png") no-repeat;
            background-size: contain;
            position: absolute;
            top: -30px;
            right: -40px;
            width: 100px;
            height: 100px;
            transform: rotate(-25deg);
            z-index: -10;
        }
    }    
}

.header2 {
    @include primaryFont(42);
}




