//Header styles
.header {
    height: 500px;
    background: $light-Grey-Blue;
    &--other {
        height: 450px;
    }
    &__container1 {
        height: 70%;
        display: flex;
        justify-content: flex-end;
    }

    &__text-container {
        position: relative;
        width: 55%;
        height: 100%;
        display:flex;
        padding-top:20%;
    }
    
    &__container2 {
        position: relative;
        height: 20%;
    }

    &__img-container {
        position: absolute;
        background: url("../img/home-image-1.jpg") center;
        background-size: cover;
        width: 40%;
        height: 480px;
        top: -300px;
        left: 0;
        box-shadow: 10px 10px white;
    }

    &__other-container {
        height: 85%;
        background-size: cover;
        
        &--contact {
            background: url("../img/contact-image-1.jpg") center;
        }

        &--blog {
            background: url("../img/blog-image-1.jpg") center;
        }
    }

    &__other-text-container {
        height: 100%;
        position:relative;
    }

    &__other-text {
        position: absolute;
        bottom:-43px;
    }
    
}


