@media (max-width: 1150px) {
    .harperjourney__text-container {
        width: 55%;
    }
}

@media (max-width: 975px) {
    .header__img-container {
        height: 430px;
    }

    .harperjourney__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .harperjourney__photo-container {
        margin-bottom: 25px;
    }

    .harperjourney__text-container {
        width: 100%;
        text-align: center;
    }

    .whoisharper__container {
        justify-content: center;
        align-items: center;
    }

    .whoisharper__text-container {
        width: 100%;
        text-align: center;
    }

    .blog-preview__img-1,
    .blog-preview__img-2 {
        position: static;
        box-shadow: none;
        height: auto;
        box-shadow: 10px 10px $dusk-Blue;
    }

    .blog-preview__container-1,
    .blog-preview__container-2 {
        width: 100%;
        margin-bottom: 25px;
    }

    .blog-preview__block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog-preview__block--reverse {
        flex-direction: column-reverse;
    }

    .blog-preview__container-2--text,
    .blog-preview__container-1--text {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .section__btn-container {
        justify-content: center;
    }
}


@media (max-width: 900px) {
    .font1--main {
        font-size: 11rem;

        &::after {
            width: 145px;
            height: 127px;
            top: -53px;
            right: -44px;
        }
    }

    .header__text-container {
        padding-top: 30%;
    }
}

@media (max-width: 800px) {
    .font1--main {
        font-size: 10rem;

        &::after {
            width: 126px;
            height: 122px;
            top: -46px;
            right: -32px;
        }
    }
}

@media (max-width: 750px) {
    .wrapper {
        width: 90%;
    }

    .header__container2 {
        display: none;
    }

    .header__container1 {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/home-image-1.jpg") center;
        background-size: cover;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .header__text-container {
        width: auto;
        height: auto;
        padding: 0;
    }

    .font1--main {
        color: $white-shade;

        &::after {
            display: none;
        }
    }

    .header--other {
        height: 325px;
    }

    .header__other-text {
        bottom: -30px;
    }

    .nav__list {
        display: none;
    }

    .nav__hamburger {
        @include primaryFont(42);
    }

    .font2--mobile,
    .nav__hamburger {
        display: block;
        margin: 0;
    }

    .nav {
        justify-content: space-between;
        align-content: center;
        height: 15%;

        &--other {
            height: 20%;
        }

        &__mobile-head {
            color: $black;
        }
    }

    .icon-sec__block {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:first-of-type {
            margin-bottom: 0;
        }
    }

    .icon-sec__container {
        width: 100%;
        margin-right: 0;
        text-align: center;
        align-items: center;
    }

    .icon-sec__text {
        margin-bottom: 35px;
        margin-left: 0;
    }

    .photos,
    .blog,
    .contact {
        padding-bottom: 50px;
    }

    .photos__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .photos__item {
        width: 75%;
        margin-bottom: 30px;
    }

    .photos__photo {
        width: 100%;
    }

    .contact__container {
        flex-direction: column;
    }

    .contact__aside {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .contact__social-media {
        margin: 0 auto 15px auto;
        width: 60%;
    }

    .contact__form {
        width: 100%;
    }

    .blog__container {
        flex-direction: column;
    }

    .blog__aside {
        width: 100%;
        text-align: center;
    }

    .blog__aside-img {
        width: 70%;
        margin: 0 auto;
    }

    .blog__post-container {
        width: 100%;
    }

    .blog__post-box--author {
        display: block;
    }

    .blog__post-img-container {
        width: auto;
        float: left;
        margin-right: 15px;
    }

    .blog__post-text--author {
        width: auto;
    }
}

@media (max-width: 650px) {
    .header__other-text {
        font-size: 5rem;
    }
}