.nav {
    background: $light-Grey-Blue;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    height: 10%;

    &--other {
        height: 15%;
    }

    &__list {
        width: 70%;
        // flex: 1 0 50%;
        list-style: none;
        display: flex;
        justify-content: space-between;

    }

    &__item {
        display:flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        @include primaryFont(20);
        line-height: 29px;
        // transition: color 0.5s;

        &--active {
            color: $white-shade;
        }

        &:hover,
        &:active,
        &:hover .font2--nav,
        &:active .font2--nav {
            color: $white-shade;

        }
    }

    &__hamburger {
        display: none;
    }

    &__mobile {
        position: fixed;
        background: $dusk-Blue;
        z-index: 10;
        width: 100%;
        right: -100%;
        top: 0;
        height: 100%;
        transition: all 0.5s;
        padding-top: 2%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__mobile-link {
        @include secondaryFont(24);
    }

    &__mobile-close {
        @extend .nav__mobile-link;
    }

}

.toggle {
    display: none;

    &:checked+.nav__mobile {
        right: 0;
    }
}