.nav {
    background: $light-Grey-Blue;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    height: 10%;

    &--other {
        height: 15%;
    }

    &__list {
        width: 60%;
        // flex: 1 0 50%;
        list-style: none;
        display: flex;
        justify-content: space-between;

    }

    &__item {
        display:flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        @include primaryFont(20);
        line-height: 29px;
        // transition: color 0.5s;

        &--active {
            color: $white-shade;
        }

        &:hover,
        &:active,
        &:hover .font2--nav,
        &:active .font2--nav {
            color: $white-shade;

        }

    }


}