.section {
    padding: 100px 0;

    &__text {
        @include secondaryFont(20);
        line-height: 32px;
        margin-bottom: 20px;
    }

    &__btn {
        display: inline-block;
        @include primaryFont(20);
        line-height: 32px;
        padding: 10px 20px;
        background: $accent;
        transition: background 0.5s, color 0.5s;

        &-container {
            display: flex;
            justify-content: flex-end;
        }

        &:hover,
        &:active {
            background: $black;
            color: $accent;
        }
    }

}

.whoisharper {
    background: $white-shade;

    &__container {
        display: flex;
        justify-content: flex-end;
    }

    &__text-container {
        width: 50%
    }
}

.building-pic {
    background: url("../img/home-image-2.jpg");
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.icon-sec {
    @extend .whoisharper;


    &__block {
        display: flex;

        &:first-of-type {
            margin-bottom: 50px;
        }

    }

    &__container {
        display: flex;
        width: 47.5%;
        margin-right: 5%;
        flex-direction: column;
        align-items: flex-start;

        &:last-of-type {
            margin-right:0;
        }
    }

    &__link {
        display: flex;
        // justify-content: space-between;
        @include primaryFont(18);
        margin: 0;
        // width: 100%;
        // width: 50%;

        &:hover .icon-sec__icon,
        &:active .icon-sec__icon {
            background: $accent;
        } 

        &:hover .icon-sec__heading,
        &:active .icon-sec__heading {
            color: $accent;
        }
    }

    &__icon {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $light-Grey-Blue;
        border-radius: 50%;
        margin-right: 15px;
        transition: background 0.7s;

        &::before {
            display: block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            color: $black;
            height: 20px;
            margin: 0;
        }

        &--photos::before {
            content: "\f03e";
        }

        &--about::before {
            content: "\f406";
        }

        &--blog::before {
            content: "\f108";
        }

        &--contact::before {
            content: "\f095";
        }
    }

    &__heading {
        transition: color 0.5s;
    }

    &__text {
        // width: 88%;
        // align-self: flex-end;
        margin-left: 55px; /*New*/
    }


    // &__icon-container {
    //     width: 10%;
    // }

    // &__text-Container {
    //     width: 90%;
    //     margin-left: 10px;
    // }

}

.blog-preview {
    padding: 50px 0;

    &__block {
        // @extend .icon-sec__block;
        display: flex;

        &:first-of-type {
            margin-bottom: 50px;
        }
    }

    &__container-1 {
        width: 50%; //New code
        position: relative;

        &--text {
            width: 40%; //New code
            margin-right: 10%; //New code
        }
    }

    &__img-1 {
        position: absolute;
        top: -78px;
        width: 100%;
        height: 120%;
        box-shadow: 15px 15px 0px $dusk-Blue, -150px 15px 0px $dusk-Blue;
    }

    &__img-2 {
        position: absolute;
        // display:block;
        width: 100%;
        height: 125%;
        box-shadow: 150px 15px 0px $light-Grey-Blue, 15px 15px 0px $light-Grey-Blue;
    }

    &__container-2 {
        width: 50%;
        position: relative;

        &--text {
            width: 40%;
            margin-left: 10%;
        }
    }

}

.harperjourney {
    @extend .whoisharper;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__photo-container {
        // width: 30%;
        height: 50%;
        box-shadow: 10px 10px $dusk-Blue;
    }

    &__text-container {
        width: 60%;
    }

}

//Home Page - Photo Gallery Section

.photos {
    &__container {
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    &__item {
        width: 30%;
        position: relative;
        
        &:hover .photos__link {
            display: block;
        }
    }

    &__photo {
        transition: transform 0.8s;
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }

    &__link {
        @include primaryFont(24);
        display: none;
        width: 100%;
        height: 100%;
        padding-top: 50%;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        color: $white-shade;

    }

}


//Contact Page Sections
.contact {
    @extend .whoisharper;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__aside {
        background: white;
        width: 32%;
        padding: 20px;
        // height: 40%;
    }

    &__social-media {
        display: flex;
        list-style: none;
        margin-bottom: 15px;
        justify-content: space-between;
    }

    // &__sm-item {
    //     padding: 0 20px;
    //     &:first-of-type {
    //         padding-left: 0;
    //     }
    // }

    &__sm-link {
        @include primaryFont(24);
        color: $dusk-Blue;
        // padding: 0 20px;
        transition: color 0.5s;

        // &:first-of-type {
        //     padding-left: 0;
        // }

        &:hover,
        &:active {
            color: $accent;
        }
    }

    &__email-container {
        margin-bottom: 15px;
    }

    &__email {
        @include primaryFont(20);
        text-transform: none;
        // border-bottom: 1px solid transparent;
        transition: border-bottom 0.5s;

        &:hover,
        &:active {
            border-bottom: 1px solid $black;
        }
    }

    &__address {
        @include secondaryFont(20);
        display: flex;
        flex-direction: column;

        &-line {
            display: block;
            margin-bottom: 5px;
        }
    }

    &__form {
        background: $white-shade;
        width: 63%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // padding: 500px 0;
    }

    &__item {
        border: none;
        background: white;
    }

    &__info {
        width: 49%;
        padding: 10px;
        margin-bottom: 10px;
        @include secondaryFont(20);
    }

    &__message {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        padding: 20px 10px;
        resize: none;
        @include secondaryFont(20);
    }

    &__submit {
        @extend .section__btn;
        background: $accent;
        width: 100%;
    }
}

.blog {
    @extend .whoisharper;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__aside {
        width: 32%;
        // background: $white-shade;

        &-box {
            padding: 20px;
            background: white;
            margin-bottom: 20px;
        }

        &-list {
            padding-left: 15px;
        }

        &-img-container {
            width: 100%;
            margin-bottom: 20px;
        }

        &-text {
            @extend .section__text;
            margin: 0;
        }

        &-post {
            margin-bottom: 10px;
            padding-left: 10px;
        }

        &-link {
            @include secondaryFont(20);
            transition: border-bottom 0.5s;
            &:hover,
            &:active {
                border-bottom: 1px solid $black;
            }
        }
    }


    &__post-container {
        width: 63%;
    }

    &__post-box {
        width: 100%;
        background: white;
        padding: 20px;
        margin-bottom: 25px;

        &--border {
            border-bottom: 5px solid $dusk-Blue;
        }

        &--author {
            display: flex;
            justify-content: space-between;
        }

        &--form {
            padding: 0;
        }
    }

    &__post-img-container {
        width: 15%;
    }

    &__post-text {
        @extend .section__text;

        &--author {
            width: 80%;
        }

        &-date {
            display: block;
        }

        &-link {
            color: $black;
            text-decoration: underline;
        }
    }

    &__post-form {
        @extend .contact__form;
        width: 100%;

    }


}