.section {
    padding: 75px 0;

    &__text {
        @include secondaryFont(20);
        line-height: 32px;
        margin-bottom: 20px;
    }

    &__btn {
        display: inline-block;
        @include primaryFont(20);
        line-height: 32px;
        padding: 10px 20px;
        background: $accent;
    }

}

.whoisharper {
    background: $white-shade;
    
    &__container {
        display: flex;
        justify-content: flex-end;  
    }
    &__text-container {
        width: 50%
    }
}

.building-pic {
    background: url("../img/home-image-2.jpg");
    background-size:cover;
    background-position: center;
    padding: 200px 0;
}

.icon-sec {
    @extend .whoisharper;


    &__block {
        display: flex;

        &:first-of-type {
            margin-bottom: 50px;
        }
        
    }

    &__container {
        display: flex;
        width:47.5%;
        margin-right: 5%;

        // &:last-of-type .icon-sec__text-Container {
        //     padding-right: 0;
        // }

        &:last-of-type {
            margin-right: 0;
        }
        
    }

    &__icon-container {
        width: 10%;
    }

    &__text-Container {
        width: 90%;
        // padding: 0 10px;
        margin-left: 10px;
    }


    &__link {
        @include primaryFont(18);
        display: block;
        margin: 0;
        height: 40px;
        width: 40px;
        background: $light-Grey-Blue;
        border-radius: 50%;
    }
    
    &__icon {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            display: block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            color: $black;
            height: 20px;
            margin:0;
        }
        
        &--photos::before {
            content: "\f03e";
        }

        &--about::before {
            content: "\f406";
        }

        &--blog::before {
            content: "\f108";
        }

        &--contact::before {
            content: "\f095";
        }
    }
}

.blog-preview {
    padding: 50px 0;
    &__block {
        // width: 90%;
        // border: 1px solid black;
        @extend .icon-sec__block;
        
        &:first-of-type {
            margin-bottom: 0;
            // @extend .icon-sec__block:first-of-type;
        }
        // &:last-of-type {
        //     margin-left: 10%;
        // }
    }

    &__container-1 {
        width: 47.5%;
        margin-right: 5%;
        position: relative;
        &--text {
            padding-top: 70px;
        }
    }

    &__img-1 {
        position: absolute;
        display:block;
        // top: -80px;
        top: -78px;
        width: 100%;
        height: 120%;
        box-shadow: 15px 15px 0px $dusk-Blue, -150px 15px 0px $dusk-Blue;
    }

    &__img-2 {
        position: absolute;
        display:block;
        bottom: -77px;
        width: 100%;
        height: 100%;
        box-shadow: 150px 15px 0px $light-Grey-Blue, 15px 15px 0px $light-Grey-Blue;
    }

    &__container-2 {
        width: 47.5%;
        position: relative;
        &--text {
            // padding-bottom: 65px;
        }
    }

}

.harperjourney {
    @extend .whoisharper;
}
