html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

h1, h2, h3, h4, h5, h6, ul, li, p, figure {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.font1 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-weight: bold;
  font-size: 80px;
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 92px;
}

.font1--main {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-weight: bold;
  font-size: 120px;
  font-size: 12rem;
  text-transform: uppercase;
  position: relative;
}

.font1--main::after {
  content: "";
  display: inline-block;
  background: url("../img/Circle-text-cropped.png") no-repeat;
  background-size: contain;
  position: absolute;
  width: 150px;
  height: 150px;
  top: -75px;
  right: -75px;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.font2 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-weight: bold;
  font-size: 42px;
  font-size: 4.2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.font2--nav {
  margin: 0;
}

.font2--mobile {
  display: none;
}

.font3 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-weight: bold;
  font-size: 32px;
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.font4 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-weight: bold;
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

::-webkit-input-placeholder {
  color: #171717;
}

:-ms-input-placeholder {
  color: #171717;
}

::-ms-input-placeholder {
  color: #171717;
}

::placeholder {
  color: #171717;
}

.fixedPosition {
  position: fixed;
}

.header {
  height: 500px;
  background: #b9dde7;
}

.header--other {
  height: 400px;
}

.header__container1 {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__text-container {
  position: relative;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20%;
}

.header__container2 {
  position: relative;
  height: 20%;
}

.header__img-container {
  position: absolute;
  background: url("../img/home-image-1.jpg");
  background-size: cover;
  width: 45%;
  height: 450px;
  top: -300px;
  left: 0;
  /*new code*/
  -webkit-box-shadow: 10px 10px white;
  box-shadow: 10px 10px white;
}

.header__other-container {
  height: 85%;
  background-size: cover;
}

.header__other-container--contact {
  background: url("../img/contact-image-1.jpg") center;
}

.header__other-container--blog {
  background: url("../img/blog-image-1.jpg") center;
}

.header__other-text-container {
  height: 100%;
  position: relative;
}

.header__other-text {
  position: absolute;
  bottom: -43px;
}

.nav {
  background: #b9dde7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0;
  height: 10%;
}

.nav--other {
  height: 15%;
}

.nav__list {
  width: 70%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 29px;
}

.nav__link--active {
  color: #f6f6f6;
}

.nav__link:hover, .nav__link:active,
.nav__link:hover .font2--nav,
.nav__link:active .font2--nav {
  color: #f6f6f6;
}

.nav__hamburger {
  display: none;
}

.nav__mobile {
  position: fixed;
  background: #227284;
  z-index: 10;
  width: 100%;
  right: -100%;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 2%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.nav__mobile-link, .nav__mobile-close {
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 24px;
  font-size: 2.4rem;
}

.toggle {
  display: none;
}

.toggle:checked + .nav__mobile {
  right: 0;
}

.section {
  padding: 100px 0;
}

.section__text, .blog__aside-text, .blog__post-text {
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 20px;
  font-size: 2rem;
  line-height: 32px;
  margin-bottom: 20px;
}

.section__btn, .contact__submit {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 32px;
  padding: 10px 20px;
  background: #f38d8d;
  -webkit-transition: background 0.5s, color 0.5s;
  -o-transition: background 0.5s, color 0.5s;
  transition: background 0.5s, color 0.5s;
}

.section__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section__btn:hover, .contact__submit:hover, .section__btn:active, .contact__submit:active {
  background: #171717;
  color: #f38d8d;
}

.whoisharper, .icon-sec, .harperjourney, .contact, .blog {
  background: #f6f6f6;
}

.whoisharper__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.whoisharper__text-container {
  width: 50%;
}

.building-pic {
  background: url("../img/home-image-2.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.icon-sec__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-sec__block:first-of-type {
  margin-bottom: 50px;
}

.icon-sec__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 47.5%;
  margin-right: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.icon-sec__container:last-of-type {
  margin-right: 0;
}

.icon-sec__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0;
}

.icon-sec__link:hover .icon-sec__icon,
.icon-sec__link:active .icon-sec__icon {
  background: #f38d8d;
}

.icon-sec__link:hover .icon-sec__heading,
.icon-sec__link:active .icon-sec__heading {
  color: #f38d8d;
}

.icon-sec__icon {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #b9dde7;
  border-radius: 50%;
  margin-right: 15px;
  -webkit-transition: background 0.7s;
  -o-transition: background 0.7s;
  transition: background 0.7s;
}

.icon-sec__icon::before {
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #171717;
  height: 20px;
  margin: 0;
}

.icon-sec__icon--photos::before {
  content: "\f03e";
}

.icon-sec__icon--about::before {
  content: "\f406";
}

.icon-sec__icon--blog::before {
  content: "\f108";
}

.icon-sec__icon--contact::before {
  content: "\f095";
}

.icon-sec__heading {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.icon-sec__text {
  margin-left: 55px;
  /*New*/
}

.blog-preview {
  padding: 50px 0;
}

.blog-preview__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-preview__block:first-of-type {
  margin-bottom: 50px;
}

.blog-preview__container-1 {
  width: 50%;
  position: relative;
}

.blog-preview__container-1--text {
  width: 40%;
  margin-right: 10%;
}

.blog-preview__img-1 {
  position: absolute;
  top: -78px;
  width: 100%;
  height: 120%;
  -webkit-box-shadow: 15px 15px 0px #227284, -150px 15px 0px #227284;
  box-shadow: 15px 15px 0px #227284, -150px 15px 0px #227284;
}

.blog-preview__img-2 {
  position: absolute;
  width: 100%;
  height: 125%;
  -webkit-box-shadow: 150px 15px 0px #b9dde7, 15px 15px 0px #b9dde7;
  box-shadow: 150px 15px 0px #b9dde7, 15px 15px 0px #b9dde7;
}

.blog-preview__container-2 {
  width: 50%;
  position: relative;
}

.blog-preview__container-2--text {
  width: 40%;
  margin-left: 10%;
}

.harperjourney__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.harperjourney__photo-container {
  height: 50%;
  -webkit-box-shadow: 10px 10px #227284;
  box-shadow: 10px 10px #227284;
}

.harperjourney__text-container {
  width: 60%;
}

.photos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.photos__item {
  width: 30%;
}

.photos__photo {
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.photos__link:hover .photos__photo {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact__aside {
  background: white;
  width: 32%;
  padding: 20px;
}

.contact__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 15px;
}

.contact__sm-item {
  padding: 0 20px;
}

.contact__sm-item:first-of-type {
  padding-left: 0;
}

.contact__sm-link {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-weight: bold;
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #227284;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.contact__sm-link:hover, .contact__sm-link:active {
  color: #f38d8d;
}

.contact__email-container {
  margin-bottom: 15px;
}

.contact__email {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  text-transform: none;
  -webkit-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}

.contact__email:hover, .contact__email:active {
  border-bottom: 1px solid #171717;
}

.contact__address {
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 20px;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact__address-line {
  display: block;
  margin-bottom: 5px;
}

.contact__form, .blog__post-form {
  background: #f6f6f6;
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact__item {
  border: none;
  background: white;
}

.contact__info {
  width: 49%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 20px;
  font-size: 2rem;
}

.contact__message {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  padding: 20px 10px;
  resize: none;
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 20px;
  font-size: 2rem;
}

.contact__submit {
  background: #f38d8d;
  width: 100%;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog__aside {
  width: 32%;
}

.blog__aside-box {
  padding: 20px;
  background: white;
  margin-bottom: 20px;
}

.blog__aside-list {
  padding-left: 15px;
}

.blog__aside-img-container {
  width: 100%;
  margin-bottom: 20px;
}

.blog__aside-text {
  margin: 0;
}

.blog__aside-post {
  margin-bottom: 10px;
  padding-left: 10px;
}

.blog__aside-link {
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 20px;
  font-size: 2rem;
  -webkit-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}

.blog__aside-link:hover, .blog__aside-link:active {
  border-bottom: 1px solid #171717;
}

.blog__post-container {
  width: 63%;
}

.blog__post-box {
  width: 100%;
  background: white;
  padding: 20px;
  margin-bottom: 25px;
}

.blog__post-box--border {
  border-bottom: 5px solid #227284;
}

.blog__post-box--author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blog__post-box--form {
  padding: 0;
}

.blog__post-img-container {
  width: 15%;
}

.blog__post-text--author {
  width: 80%;
}

.blog__post-text-date {
  display: block;
}

.blog__post-form {
  width: 100%;
}

.footer {
  background: #171717;
  padding: 5px;
}

.footer__text {
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
  color: #f6f6f6;
}

@media (max-width: 1150px) {
  .font1--main {
    font-size: 11rem;
  }
  .font1--main::after {
    width: 145px;
    height: 127px;
    top: -57px;
    right: -81px;
  }
}

@media (max-width: 975px) {
  .font1--main {
    font-size: 9rem;
  }
  .font1--main::after {
    height: 121px;
    top: -51px;
    right: -84px;
  }
  .harperjourney__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .harperjourney__photo-container {
    margin-bottom: 25px;
  }
  .harperjourney__text-container {
    width: 100%;
    text-align: center;
  }
  .whoisharper__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .whoisharper__text-container {
    width: 100%;
    text-align: center;
  }
  .blog-preview__img-1,
  .blog-preview__img-2 {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    -webkit-box-shadow: 10px 10px #227284;
    box-shadow: 10px 10px #227284;
  }
  .blog-preview__container-1,
  .blog-preview__container-2 {
    width: 100%;
    margin-bottom: 25px;
  }
  .blog-preview__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blog-preview__block--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .blog-preview__container-2--text,
  .blog-preview__container-1--text {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .section__btn-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 840px) {
  .header__container2 {
    display: none;
  }
  .header__container1 {
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/home-image-1.jpg") center;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/home-image-1.jpg") center;
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/home-image-1.jpg") center;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/home-image-1.jpg") center;
    background-size: cover;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__text-container {
    width: auto;
    height: auto;
    padding: 0;
  }
  .font1--main {
    color: #f6f6f6;
  }
  .font1--main::after {
    display: none;
  }
}

@media (max-width: 750px) {
  .nav__list {
    display: none;
  }
  .nav__hamburger {
    font-family: 'Oswald', sans-serif;
    color: #171717;
    font-weight: bold;
    font-size: 42px;
    font-size: 4.2rem;
    text-transform: uppercase;
  }
  .font2--mobile,
  .nav__hamburger {
    display: block;
  }
  .nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 15%;
  }
  .nav__mobile-head {
    color: #171717;
  }
  .icon-sec__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .icon-sec__block:first-of-type {
    margin-bottom: 0;
  }
  .icon-sec__container {
    width: 100%;
    margin-right: 0;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .icon-sec__text {
    margin-bottom: 35px;
    margin-left: 0;
  }
  .photos {
    padding-bottom: 25px;
  }
  .photos__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .photos__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .photos__link {
    width: 100%;
  }
  .photos__link:hover .photos__photo {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .photos__photo {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */